<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logging Out...</title>
    <link rel="icon" href="{{ url_for('static', filename='images/futa-logo.png') }}" type="image/png">

    <!-- Link to external CSS file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <meta http-equiv="refresh" content="1;url=/login">
</head>
<body>
    <header>
        <div class="header-content">
            <!-- just for the header beautification -->
        </div>
    </header>

    <main class="logout-page">
        <section>
            <h2>You have been logged out</h2>
            <p>Redirecting to the login page...</p>
        </section>
    </main>

    <footer>
        
    </footer>

</body>
</html>
